.mainBlock {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 900px;
  margin: 50px auto 100px auto;
}

.infoBlock {
  display: flex;
  gap: 30px;
}

.content {
  line-height: 1.8;
}

.buttonBlock {
  display: flex;
  gap: 20px;
}

.deleteButton {
  width: 50%;
  height: 40px;
  background-color: #000000;
  color: white;
  border: none;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}

.updateButton {
  width: 50%;
  height: 40px;
  background: #e7e7e7;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
}
